@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =============Swiper==================== */
/* =============Swiper==================== */
/* =============Swiper==================== */
:root {
  --swiper-theme-color: #b4e100;
}
.autoplay-progress {
  position: absolute;
  right: 6px;
  bottom: 16px;
  z-index: 10;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-thseme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: rgb(77, 255, 0);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* =============Swiper==================== */
/* =============Swiper==================== */
/* =============Swiper==================== */

.mainBackgroud {
  background-color: #222035ca;
  backdrop-filter: blur(5px);
}
.uGame {
  font-family: "Protest Strike", sans-serif;
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.appBackColor {
  /* background-color: #17151e; */
  /* background: linear-gradient(125deg, #1b1823 0%, #17151c 50%, #17151e 100%); */
  background-image: url("https://i.pinimg.com/originals/54/42/31/544231f557521d96db675298d7bcbb07.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
body {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.myDiv {
  cursor: pointer;
  border-top: 5px solid rgb(190, 255, 68);
  backdrop-filter: blur(4px);
  clip-path: url("#hotGames-clip-path");
  transition: all 0.3s;
}
.newGameSVG {
  cursor: pointer;
  background-image: url("https://img.icons8.com/ios/452/new-game.png");
  clip-path: url("#newGameClipPath");
}
.myDiv:hover {
  border-top: 5px solid rgb(143, 44, 255);
}
/* .svg {
  position: absolute;
  width: 0;
  height: 0;
}
.clipped {
  /* width: 100%;
  height: 550px; */
/* background: turquoise url(https://www.rocketleague.com/images/keyart/rl_evergreen_16x9.jpg);
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: polygon(50% 0, 100% 50%, 50% 150%,50% 100%, 0 50%); */
/* } */

/* ================================= */
/* ================================= */
/* ================================= */
/* ================================= */
/* ================================= */

.homeBackground {
  background: linear-gradient(125deg, rgb(76, 81, 74) 0%, rgb(30, 30, 30) 80%);
}
